body {
  margin: 0px;
  padding: 0px;
}

form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
form table {
  width: 100%;
}
form table td {
  padding: 10px;
}
form table td label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
form table td input,
form table td select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 0px;
  border: solid 1px #ccc;
}
form table td input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
form table td input[type="submit"]:hover {
  background-color: #45a049;
}
