body {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #333333;
    padding-left: 14px;
    padding-right: 14px;
}