@font-face {
    font-family: 'Coral Pixel';
    src: url('../fonts/Coral_Pixels/CoralPixels-Regular.ttf');
}

@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral/Spectral-Regular.ttf");
}