#navigation {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 60px);
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

#navigation > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
