* {
  margin: 0px;
  padding: 0px;
}

#products {
  text-decoration: line-through !important;
}

#productWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.product {
  width: 350px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 12.5px;
}

.product > img {
  justify-self: center;
}

h2,
h3 {
  font-family: "Spectral";
  margin-bottom: 8px;
}

button {
  background-color: #0b0b0b;
  color: #f5eef0;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: #2b2b2b;
}
