a {
  font-family: "Spectral";
  background-color: #0b0b0b;
  color: #f5eef0;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  background-color: #2b2b2b;
}