/* ~~~~~~~~~~~~~ */
/* FONT FAMILIES */
/* ~~~~~~~~~~~~~ */

/* ~~~~~~~ */
/* CONTENT */
/* ~~~~~~~ */

*, body {
    margin: 0px;
   padding: 0px;
}

body {
    background: url("../asset/blurry-gradient-haikei(2).svg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: .34;
}

h1 {
    margin: 0px;
    margin-bottom: -10px;
    color: rgb(55, 59, 58);
    opacity: .8;
}