*, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #16161d;
}

/* ~~~~~~~~~~ */
/* Navigation */
/* ~~~~~~~~~~ */

#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav > h1 {
    margin-left: 12px;
    margin-top: 8px;
    font-family: 'inconsolata';
    font-weight: 400;
    color: #a3445c;
    font-size: 21px;
    grid-column-start: 1;
    grid-column-start: 1;
    cursor:default;
}

#linkWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

#linkWrapper > a, p {
    margin-top: 8px;
    font-family: 'inconsolata';
    font-weight: 300;
    color: #F7EEF0;  
    font-size: 21px; 
}

#linkWrapper > p {
    margin-left: 5px;
    margin-right: 5px;
}

#linkWrapper > a {
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
}

#linkWrapper > a:hover {
    text-decoration: underline;
}

.currentPage {
    font-weight: 400 !important;
    color: #B4667A !important;
    font-size: 21px !important;
    text-decoration: none !important;
    cursor: default !important;
}

/* ~~~~~~~ */
/* CONTACT */
/* ~~~~~~~ */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#contactContainer {
  border-radius: 0px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'inconsolata';
  margin-top: 80px;
}