*,
body {
  margin: 6px;
  padding: 0;
}

.requiredRed {
  color: red;
  margin-right: 2px;
}

form {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: aliceblue;
  border: 4px solid rgb(226, 242, 255);
  font-family: serif;
}
