body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
}

/* ~~~~~~~~~~~~~~~~ */
/* WEATHER SECTION  */
/* ~~~~~~~~~~~~~~~~ */

.SectionBackground {
  border: solid 2px black;
}

legend {
  font-weight: 600;
  font-size: 1rem;
}

#weather {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: solid 6px lightblue;
  margin: 20px;
  margin-left: 25px;
  padding: 8px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.tdSpace {
  margin-right: 6px;
}

#weatherResults {
  margin: 0px;
  margin-left: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#weatherResults > h3 {
  font-style: italic;
  margin: 0px;
  margin-top: 6px;
  margin-left: 2px;
  font-size: 1.25rem;
  font-weight: 600;
}

#weatherResults > h4 {
  margin: 0px;
  margin-top: 6px;
  font-weight: 600;
  font-size: 1rem;
}

#rainCheckP {
  margin: 0px;
}

#rainCheck > h4 {
  margin: 0px;
  font-weight: 600;
  font-size: 1rem;
}

#rainCheck {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.tempResult {
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
}

.tempResult > p {
  margin: 0px;
}

#youShould {
  margin-top: 6px;
  margin-bottom: 6px;
}

ul {
  padding-left: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#jacket {
  display: none;
}

#umbrella {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* REGISTRATION SECTION  */
/* ~~~~~~~~~~~~~~~~~~~~~ */

label {
  white-space: nowrap;
  margin-right: 4px;
}

#registration {
  width: fit-content;
  height: fit-content;
  border: solid 6px red;
  margin: 20px;
  padding: 8px;
}

.requiredRed {
  color: red;
  margin-right: 2px;
}

#registration > form {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

/* ~~~~~~~~~~~~ */
/* KEY SECTION  */
/* ~~~~~~~~~~~~ */

#key {
  width: fit-content;
  border: solid 6px rgb(0, 0, 0);
  margin: 25px;
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#colorKey {
  margin-left: 9px;
  border-left: solid 3px;
  border-image: linear-gradient(to bottom, red, rgb(153, 193, 207)) 1 100%;
}

#key > h1 {
  font-size: 2rem;
  margin-top: 7px;
  margin-bottom: 7px;
}

#colorKey > p {
  margin-left: 9px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
}

#blue {
  color: rgb(153, 193, 207);
}

#red {
  color: red;
}
